/*Used to remove any default styling and set to a "blank" canvas*/
* { box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font: inherit; 
    border: 0; 
}

/*body and header is selected because the display character only impacts direct children*/
body, header {
    background-color: #d4d9a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'New Times Roman';
    color: rgb(4, 29, 51);

}
h2, div, img {
    padding: 1%;
}
h1 {
    font-size: 6vw;
    padding: 2%;
}
h2 {
    font-family:'Times New Roman', Times, serif ;
    font-size: 2.5vw;
}
h3 {
    font-size: 2vw;
}
p {
    font-size: 1.25vw;
}
img {
    width: 30%;
    border: 4px solid rgb(4, 29, 51);
    margin-bottom: 3%;
}
div {
    background-color: #767f63;
    margin: 1%;
}