/*Used to remove any default styling and set to a "blank" canvas*/
* { box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    /*font: inherit; */
    border: 0; 
}

/*body and header is selected because the display character only impacts direct children*/
body, header {
    min-height: 100vh;
    background-color: #d4d9a1;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    font-family: 'New Times Roman';
    color: rgb(4, 29, 51);
}
nav {
    /*styling as a flexbox item in body*/
    width: 50%;
    padding: 0px 75px;
    margin: 2% 0%;
    /*styling as a flexbox for nav links */
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_link {
    display: inline-block;
    padding: 2vh;
    text-decoration: none;
}
.nav_link:hover{
    /*background-color: ;
    color: ;*/
    transition: background-color 0.3s ease;
}
h1 {
    font-size: 6vw;
    padding: 3% 1% 1%;
}
h2 {
    font-family:'Times New Roman', Times, serif ;
    font-size: 2.5vw;
}
h3 {
    font-size: 2vw;
}
p {
    font-size: 1.25vw;
}
img {
    width: 35%;

    margin-bottom: 3%;
}
div {
    background-color: #767f63;
    margin: 1%;
}