/*  
    font-family for headings is Times New Roman
    font- family for main text is Quicksand
    font-family for wedding date is  Dancing Script by Google

    Text color: rgb(4, 29, 51)
    Background color: #f2dcdf
    Our Story feature box: no background color
    Sections (The day, travel, Q&A, photos, RSVP) background color: #767f63
*/

/*
    Used to remove any default styling and set to a "blank" canvas.
    Note: box-sizing: border-box; ensures all elements include padding and border in their width and height calculations
*/
* { box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    border: 0; 
}

/*body and header is selected because the display character only impacts direct children*/
body {  
    font-family: Quicksand, Geneva, Tahoma, sans-serif;
    background-color: #f2dcdf;
    color: rgb(4, 29, 51);
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 1.5%;
    padding: 3%;
}

#date {
    text-align: center;
    font-family: 'Dancing Script';
    padding-bottom: 2%;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    text-align: center;
    width: 35%;
}

.story {
    padding: 1%;
    margin: 1%;
}

h2 {
    font-size: 2.5rem;    
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

@media (max-width: 768px) {

  h1 { font-size: 3.8rem; }

  h2 { font-size: 2.3rem; }

  h3 { font-size: 1.3rem; }

}

.main_text_header {
    padding: 15px 0;
}

.spacer.clear {
    clear: both;
    height: 20px;
    background-color: transparent;
}

.main_text {
    padding: 40px;
    background-color: #767f63;
}

h3 {
    padding: 15px 0;
}

footer {
    padding: 10px;
}

/*#copyright used because p takes priority over footer elements*/
footer, #copyright {
    text-align: center;
    color: #d4d9a1;
    background-color: rgb(4, 29, 51);
    font-size: 0.9rem;
}

.footer_link {
    text-decoration: none;
}

nav {
    /*styling as a flexbox for nav links */
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_link {
    text-align: center;
    padding: 2vh;
    text-decoration: none;
}

.nav_link:hover{
    /*background-color: ;
    color: ;*/
    transition: background-color 0.3s ease;
}